@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --reddit-font: "Reddit Sans";
    --grey: #2a3236;
    --roboto: "Noto sans"
}
*{
    padding: 0px;
    margin: 0px;
    /* border: 2px solid red; */
}
body{
    background-color: #0e1113;
    overflow: hidden;
    width: 100%;
}
header{
    background-color: #0e1113;
    height: 70px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    left: 0px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    margin-left: 20px;
}
.logo > h1{
    font-size: 35px;
    color: #fff;
    font-family: var(--reddit-font);
}
#icon{
    height: 40px;
}
#search::placeholder{
    color: white;
}
#search{
    height: 45px;
    width: 500px;
    border-radius: 50px;
    background-color: var(--grey);
    /* background: url('assets/searchicon.png') 5px 5px no-repeat scroll ; */
    background-size: 40px;
    background-clip: 20px;;
    /* filter: invert(50%); */
    color: #fff;
    font-size: 20px;
    outline: none;
    border: none;
    font-family: var(--roboto);
    padding-left: 50px;
}
.login{
    height: 50px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    scale: 0.9;
    
}
.login > img{
    height: 30px;
}
#login-btn{
    height: 50px;
    width: 100px;
    background-color: rgb(201, 59, 7);
    color: white;
    font-size: 20px;
    border-radius: 50px;
    font-weight: 700;
    border: none;

}
#nav{
    height: 50px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
    border: none;
    background-color: transparent;
}
#nav > img{
    height: 25px;
    filter: invert(100%);
}
#qrcode{
    height: 50px;
    width: 150px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2a3236;
    font-family: var(--roboto);
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    border: none;
    column-gap: 15px;
}
#qrcode > img{
    height: 30px;
    filter: invert(100%);
}
.main{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.leftarea{
    width: 500px;
    background-color: #0e1113;
    height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2px;
    border-right: 2px solid #2a3236;
}
.mainarea{
    width: 83%;
    background-color: #0e1113;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.line{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navline{
    width: 99%;
    margin-top: 70px;
    height: 2px;
    border: none;
    background-color: #2a3236;
    align-self: center;
    border-radius: 2px;
}
.toplevel{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.toplevel > a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: var(--roboto);
    font-size: 17px;
    height: 50px;
    width: 80%;
    border-radius: 10px;
    background-color: transparent;
    color: #dbe4dc;
    transition-duration: 0.1s;
    padding-left: 35px;
    column-gap: 10px;
}
.toplevel > a:hover{
    background-color: #2a3236;
}
.toplevel > a > img{
    filter: invert(90%);
    height: 30px;
}
.test{
    height: 50px;
    width: 90%;
}
.middlelevel,.bottomlevel{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
    transition: ease 1s;
    margin: 5px 0px;
}
.middlelevel{
    z-index: 10;
}
#arrow,#arrow2{
    height: 20px;
    filter: invert(100%);
    transition: ease 0.5s;
    transform: rotateZ(0deg);
}
.hidebottom > img,.hidemiddle > img{
    height: 20px;
    filter: invert(100%);
}
#topics,.hidemiddle,#resources,.hidebottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 35px;
    color: white;
    font-size: 17px;
    background-color: #0e1113;
    border-radius: 5px;
    padding: 25px 15px;
    border: none;
    font-family: var(--roboto);
    z-index: 10;
    margin: 5px 0px;    
    transition-duration: 1s;
}
.hidemiddle{
    /* align-self: flex-start; */
    /* justify-self: flex-start; */
    justify-items: flex-start;
    fill: 3;
}
.hidemiddle,.hidebottom{
    opacity: 0;
    transition-duration: 1s;
    color: #dbe4dc;;
    
}
#topics,#resources{
    color: #9da5a5;
}
#topics:hover,.hidemiddle:hover,.hidebottom:hover,#resources:hover{
    background-color: #2a3236;
    transition-duration: 1s;
}
.bottomlevel{
    height: 50px;
    z-index: 15;
    width: 100%;
    background-color: #0e1113;
}
.lowlevel{
    height: 500px;
    width: 100%;
    background-color: #0e1113;
    z-index: 20;
    margin-top: 0px;
}
.headscroller{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
    margin: 10px;
    width: 85%;
    overflow: auto;
    padding: 10px;
}
.headscroller::-webkit-scrollbar{
    width: 0px;
}
.news{
    height: 250px;
    width: 350px;
    flex-shrink: 0;
    background-color: red;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    color: rgb(253, 253, 253);
    background-repeat: no-repeat;
    font-family: var(--roboto);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
.textcontent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}
.h1{
    font-size: 25px;
}
.para{
    font-weight: 300;
    
}
p > img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}


