@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  /* border: 2px solid black; */
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  font-family: "Source Sans 3";
}
body {
  height: 300vh;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #f4f2ee;
}

nav {
  width: 100%;
  height: 80px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 999;
}
.nav-icons {
  height: 60px;
  width: 1650px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.main {
  width: 1700px;
  height: 100%;
  margin: auto;
  margin-top: 100px;
  display: flex;
}
.main-left,
.main-center,
.main-right {
  /* border: 1px solid white; */
  margin: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.main-left {
  width: 325px;
  height: fit-content;
  background-color: #f4f2ee;
  row-gap: 10px;
}
.main-center {
  width: 850px;
  margin: inherit 30px;
  row-gap: 10px;
  display: flex;
  flex-direction: column;
}
.main-right {
  width: 425px;
  height: auto;
  background-color: #f4f2ee;
  row-gap: 10px;
}
.left1,
.left2 {
  width: 100%;
  height: 600px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 3px solid #dfdeda;
}

.left1 {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.left2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
}
.left2 p {
  height: 20px;
  width: auto;
  padding: 20px 15px;
  font-size: 20px;
}
.groups {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  color: #6d6d6c;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  cursor: pointer;
}
.groups img {
  height: 25px;
  filter: invert(20%);
  cursor: pointer;
}
.discover {
  width: 98%;
  font-size: 20px;
  font-weight: 500;
  color: rgb(51, 51, 51);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 5px;
  border-radius: 0px 0px 10px 10px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.discover:hover {
  background-color: rgba(228, 227, 227, 0.438);
}
.group-head {
  width: 100%;
  color: rgb(53, 144, 241);
  font-size: 20px;
  font-weight: 500;
  padding: 10px 15px;
  transition-duration: 0.1s;
  cursor: pointer;
}

.group-head:hover {
  text-decoration: underline;
}

.right1,
.right2,
.right3 {
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 3px solid #dfdeda;
}
.right1 {
  display: flex;
  height: 550px;
}
.right2 {
  position: relative;
  min-height: 350px;
  position: sticky;
  top: 100px;
  display: flex;
  flex-direction: column;
}
.right3 {
  position: sticky;
  top: 465px;
}
.centertop {
  width: 100%;
  height: 150px;
  background-color: white;
  border-radius: 15px;
  border: 3px solid #dfdeda;
}
.logo {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo > img {
  height: 55px;
}
.logo > input {
  height: 50px;
  width: 415px;
  border-radius: 5px;
  padding-left: 20px;
  font-size: 20px;
  background-color: #edf3f8;
  border: none;
}
.icons {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sec-icons,
.main-icons {
  width: 710px;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.main-icons {
  width: 650px;
  padding: 1px 10px;
  font-size: 20px;
}

.ad-banner {
  height: 100px;
  width: 100%;
  background-color: grey;
  border-radius: 10px 10px 0px 0px;
}

.ad-img {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 30px;
  left: 30px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  padding: 2px 3px;
  z-index: 999;
}
.ad-img img {
  height: 100%;
  border-radius: 5px;
}
.banner {
  position: relative;
  height: 100px;
}

.banner img {
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  padding: 2px;
  position: absolute;
  top: 50%;
  left: 35%;
}
.pro {
  position: absolute;
  top: 10px;
  left: 60%;
  font-size: 22px;
  background-color: white;
  color: #484848;
  padding: 5px 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.pro img {
  height: 25px;
}
.ad-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 130px;
}

.ad {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 20px;
  padding: 1px 20px;
}
.ad-title {
  font-weight: 550;
  padding: 1px 0px;
}
.ad-container button {
  font-size: 25px;
  font-weight: 500;
  background-color: white;
  border: 2px solid rgb(55, 151, 255);
  color: rgb(55, 151, 255);
  align-self: center;
  border-radius: 30px;
  padding: 5px 160px;
  margin: 25px 0px;
  transition-duration: 0.1s;
  &:hover {
    background-color: rgba(55, 152, 255, 0.15);
  }
}
.self-profile {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.self-profile .name {
  font-size: 23px;
  font-weight: 600;
  cursor: pointer;
}
.name:hover {
  text-decoration: underline;
}
.self-profile .bio {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  font-size: 18px;
  text-align: center;
  color: #404040;
}
.l2{
  font-size: 18px;
}

.saved {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 20px;
  color: #424242;
}
.saved:hover {
  background-color: rgb(212, 212, 212);
}
.saved img {
  height: 35px;
  filter: invert(30%);
}
.profile-ana {
  padding: 20px 0px;
}

.profile-ana p {
  font-size: 18px;
  font-weight: 500;
  color: #535353;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
}
.profile-ana span {
  font-size: 18px;
  font-weight: 500;
  color: rgb(53, 144, 241);
}

.profile-ana p:hover {
  background-color: rgb(212, 212, 212);
}

.premium p {
  font-size: 18px;
  color: grey;
  font-weight: 400;
  padding: 10px 20px;
}

#update {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  color: black;
  font-weight: 500;
}

#premium-icon {
  height: 20px;
}
.premium:hover {
  background-color: rgb(212, 212, 212);
}

.p {
  position: absolute;
  background-color: grey;
  border: 1px solid black;
  border-radius: 5px;
}
.p p {
  position: relative;
  padding: 5px 10px;
  height: 100%;
  width: 100%;
  left: 90%;
  top: 10px;
}

.main-icons > a,
.sec-icons > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sec-icons {
  border-left: 2px solid grey;
  width: 200px;
}
.sec-icons > a,
.main-icons > a {
  height: 100%;
  scale: 0.9;
  text-decoration: none;
  color: black;
}
.sec-icons > a > img,
.main-icons > a > img {
  height: 100%;
  scale: 0.7;
  filter: invert(30%);
  margin-bottom: -10px;
}
#nav-home::before {
  content: "";
  display: block;
  position: absolute;
  height: 10px;
  width: 10px;
  z-index: 999;
  background-color: white;
  border: 7px solid rgb(198, 8, 8);
  border-radius: 50%;
  top: 2px;
  left: 55%;
}

.writestory {
  height: 60%;
  width: 100%;
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  padding: 2px 20px;
  gap: 18px;
}
.writestory img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  padding: 5px;
}
.writestory input {
  width: 80%;
  height: 62px;
  border-radius: 50px;
  border: 1px solid grey;
  font-size: 21px;
  font-weight: 500;
  padding-left: 20px;
  cursor: pointer;
}

.clickstory {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 170px;
  /* border: 1px solid black; */
  padding: 0px;
}
.clickstory button {
  height: 50px;
  width: auto;
  font-size: 23px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  color: #404040;
  transition-duration: 0.2s;
}
.clickstory button:hover {
  background-color: rgb(186, 186, 186);
  color: black;
}

.cancel img {
  height: 30px;
}
.post {
  height: auto;
  width: 100%;
  padding: 10px 0px;
  border: 3px solid #dfdeda;
  background-color: white;
  border-radius: 10px;
}
.right1 {
  display: flex;
  flex-direction: column;
}
.top-news {
  width: 100%;
  padding: 20px 0px;
  background-color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 500;
  overflow: hidden;
}

#ts {
  padding-left: 35px;
}
.top-news span span {
  padding-left: 35px;
  padding-top: 40px;
  font-size: 25px;
  color: rgb(80, 79, 79);
}
.cols {
  width: 110%;
  margin-left: -15px;
  font-size: 22px;
  padding: 13px 15px;
  padding-left: 45px;
  display: flex;
  flex-direction: column;
  &:hover {
    background-color: rgb(231, 228, 228);
  }
}
.cols span {
  font-size: 18px;
  font-weight: 400;
}
.headtop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1px 30px;
}
.headright,
.headleft {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
.headleft > img {
  border-radius: 50%;
  height: 35px;
}
.member-name {
  font-weight: 600;
}
.reaction {
  font-size: 17px;
  color: #212122;
  font-weight: 500;
}
.headright > a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 600;
}
.more img {
  height: 25px;
}
.head-header {
  width: 95%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile {
  height: 85px;
  width: 85px;
  border-radius: 50%;
  background-color: #212122;
}
.profile img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  /* scale: 1; */
}
.down {
  position: relative;
  height: 4px;
  width: 90px;
  background-color: rgb(88, 88, 88);
  top: 40px;
  left: -525px;
  transition-duration: 0.2s;
}
.headstart {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
}
.l1 {
  font-size: 20px;
  font-weight: 600;
}
.follow {
  font-weight: 700;
  font-size: 21px;
  height: auto;
  width: auto;
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: 500;
  color: rgb(31, 31, 222);
  cursor: pointer;
  &:hover {
    background-color: rgba(107, 172, 246, 0.381);
  }
}
.description {
  font-size: 22px;
  width: 95%;
  margin: auto;
  margin-bottom: 10px;
  line-height: 30px;
}
.media {
  width: 100%;
  height: auto;
  z-index: 999999;
}
.interaction {
  height: 70px;
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  margin: 10px 10px;
}

.interaction > * {
  height: 50px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 5px;
  transition-duration: 0.2s;
}
.interaction > *:hover {
  background-color: rgb(226, 223, 223);
}

.like img,
.comment img,
.repost img,
.send img {
  height: 35px;
}

.like {
  position: relative;
}

.hov {
  height: 60px;
  width: 350px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 2px 10px 10px 1px rgba(0, 0, 0, 0.4);
  background-color: white;
  border: 1px solid rgb(194, 194, 194);
  position: absolute;
  top: -80px;
  left: -30px;
  transition-duration: 0.1s;
  opacity: 0;
  /* animation: new 2s ease-in-out; */
}
.hov img {
  height: 50px;
}
.like:hover .hov #img1 {
  animation: new 1s ease-in-out;
}
.like:hover .hov #img2 {
  animation: new 0.4s ease-in-out;
}
.like:hover .hov #img3 {
  animation: new 0.7s ease-in-out;
}
.like:hover .hov #img4 {
  animation: new 0.6s ease-in-out;
}
.like:hover .hov #img5 {
  animation: new 1s ease-in-out;
}
.like:hover .hov #img6 {
  animation: new 0.5s ease-in-out;
}

.like:hover .hov {
  opacity: 1;
}

@keyframes new {
  0% {
    height: 50px;
    width: 50px;
  }
  50% {
    height: 40px;
    width: 50px;
  }
  100% {
    height: 50px;
    width: 50px;
  }
}
